@model CustomerDetailsViewModel

<h1>@Model.PageTitle</h1>

<div class="card" style="width: 18rem;">
    <img src="@Url.Content(Model.CustomerImage)" class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-title">@Model.CustomerName</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.CustomerEmail</li>
    </ul>
    <div class="card-body">
        <a asp-controller="customer" asp-action="edit" asp-route-id="@Model.CustomerId" class="btn btn-secondary">Edit Customer</a>
    </div>
</div>
